// Define your color variables and other common values
$primary-color: #111;
$secondary-color: #444;
$accent-gradient: var(--accent-gradient);
$shadow-color: rgba(0, 0, 0, 0.1);
$link-card-bg-color: white;
$accent: #FF5733; // Replace this with your desired accent color

// Main styles
main {
  margin: auto;
  padding: 1.5rem;
  max-width: 60ch;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

.text-gradient {
  background-image: $accent-gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}

.instructions {
  line-height: 1.6;
  margin: 1rem 0;
  border: 1px solid rgba($accent, 0.25);
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
}

.instructions code {
  font-size: 0.875em;
  font-weight: bold;
  background: rgba($accent, 0.12);
  color: $accent;
  border-radius: 4px;
  padding: 0.3em 0.45em;
}

.instructions strong {
  color: $accent;
}

.instructions li {
  margin-left: 1rem;
}

.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 1rem;
  padding: 0;
}

// Link card styles
.link-card {
  list-style: none;
  display: flex;
  padding: 0.25rem;
  background-color: $link-card-bg-color;
  background-image: none;
  background-size: 400%;
  border-radius: 0.6rem;
  background-position: 100%;
  transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow: 0 4px 6px -1px $shadow-color,
    0 2px 4px -2px $shadow-color;
  width: 100%;

  > div {
    width: 100%;
    text-decoration: none;
    line-height: 1.2;
    padding: 0.5rem 0.8rem;
    border-radius: 0.35rem;
    color: $primary-color;
    background-color: $link-card-bg-color;
    opacity: 0.8;
  }

  h2 {
    margin: 0;
    font-size: 1rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    margin-top: 0.25rem;
    margin-bottom: 0;
    color: $secondary-color;
    font-size: 0.85rem;
  }

  &:is(:hover, :focus-within) {
    background-position: 0;
    background-image: $accent-gradient;

    h2 {
      color: $accent;
    }
  }
}
